.side-navigation{
    & .checkbox{
        display: none;
    }
    & .btn-float{
        position: fixed;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        z-index: $zindex-popover;
        top: .5rem;
        right: .5rem;
        cursor: pointer;
        transition: all .2s ease-in-out;
        & .menubar{
            position: absolute;
            &,
            &:before,
            &:after{
                width: 2.3rem;
                height: .1rem;
                background-color:  $white;
                display: inline-block;
                top: 1.8rem;
                left: 1rem;
            }
            &:before,
            &:after{
               content: "";
               position: absolute;
               left: 0;
               transition: all .2s;
            }
            &::before{
                top: -.7rem;
            }
            &::after{
                top: .7rem;
            }
              
        }
        
    }  
    & .checkbox:checked + .btn-float .menubar{background-color: transparent;}
    & .checkbox:checked + .btn-float .menubar::before{top:0;transform: rotate(135deg);}
    & .checkbox:checked + .btn-float .menubar::after{top:0;transform: rotate(-135deg);}
    & .overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $zindex-fixed;
        background-color: rgba($color-black, .15);
        display: none;
    }
    & .navbar{
        position: absolute;
        top: 0;
        bottom: 0;
        left: -65vw;
        width: 65vw;
        background: $white;
        z-index: $zindex-modal;
        transition: all .3s ease-in;
        // @include respond-only(md){
        //     padding: 0 6rem;
        // }
        @include respond-up(lg){
            width: 20vw;
        }

        &__logo__wrapper{
            &:after{
                content: "";
                width: 100%;
                height: .2rem;
                background: $bg-color;
                display: inline-block;
            }
        }
        &__logo{
            width: 6rem;
            height: 7rem;
            margin: 3rem auto;
            img{
               width: 100%;
               height: 100%; 
            }
        }
        &__navs{
            margin-top: -.4rem;
            &__list{
                padding: .3rem 0 .3rem 2rem;
                transition: all .2s linear;
                display: block;
                & a{
                    font-size: 1.6rem;
                    font-weight: 400;
                    font-family: 'Raleway', sans-serif;
                    transition: all .2s linear;
                    padding: 1rem 0;
                    letter-spacing: .2rem;
                }
                &:hover{
                    background: $bg-color;
                }
                &:hover a{
                    color: $white;
                    padding-left: .5rem;
                }
            }
        }
        &__copyright{
            position: absolute;
            bottom: 3rem;
            width: 90%;
            text-align: center;
            font-size: 1.2rem;
            letter-spacing: .1rem;
            font-weight: bolder;
            color: #023755;
            
        }
    }
    & .checkbox:checked ~ .overlay {display: block;}
    & .checkbox:checked ~ .navbar {transform: translateX(65vw);}
}